<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.beyond-syntax.tarsnap.agent</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/mjschultz/.dotfiles/tarsnap/tarsnap-wrapper.sh</string>
        </array>
        <key>StartInterval</key>
        <integer>3600</integer>
        <key>StandardOutPath</key>
        <string>/Users/mjschultz/Library/Logs/tarsnap.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/mjschultz/Library/Logs/tarsnap.log</string>
    </dict>
</plist>
